# ----------------------
# Flask
# ----------------------
flask
Flask_WTF
Flask_SQLAlchemy
Flask-Migrate
Flask_Login
Flask_OpenID
psycopg2
PyJWT
flask-cors
beautifulsoup
jwt
image
pillow

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
