{% extends "base.html" %}

{% block title%}
Wishlist API
{% endblock %}

{% block js %}
{% endblock %}


{% block main %}
<div class="jumbotron">
<h1 align="center">Welcome to the Wishlist API</h1>

</div>
<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-md-8"><a class="btn btn-default" href="/api/user/register" role="button"><h4>Register</h4></a></div>
     <div class="col-md-8"><a class="btn btn-default" href="/api/user/login" role="button"><h4>Login</h4></a></div>
  </div>
  
  
</div>
{% endblock %}
